nav {
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 50px;
    justify-content: space-between;
}

.nav-logo {
    /* background-image: url('./img/logo.svg');
    width: 200px;
    height: 50px; */
}

.nav-logo-link {
    box-sizing: border-box;
    display: block;
    background-image: url('./../img/logo.svg');
    width: 200px;
    height: 50px;
}

.nav-buttons {
    display: flex;
}

.nav-buttons-link {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #3D4F5C;
    width: 185px;
    height: 45px;
}

.nav-buttons-link:hover {
    box-sizing: border-box;
    color: #46B8C8;
    border: solid 1px #46B8C8;
    width: 185px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 32.5px;
}

@media (max-width: 800px) {
    nav {
        flex-direction: column;
    }
    .nav-logo, .nav-logo-link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }
    .nav-buttons {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
  }